$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
body {
  margin: 0 0 0.5rem;
  background: url("/images/bg-pattern-top-mobile.svg") left top no-repeat,
    url("/images/bg-pattern-bottom-mobile.svg") right bottom no-repeat;
  .main {
    margin: 5rem 1.35rem;
    font-size: 15px;
    font-family: "League Spartan", sans-serif;
    .info {
      h2 {
        margin: 0 3rem;
        text-align: center;
        font-size: 2.4rem;
        letter-spacing: -0.1rem;
      }
      p {
        margin-top: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
        font-size: 1.1rem;
        color: $DarkGrayishMagenta;
        font-weight: 500;
        margin-bottom: 2.5rem;
      }
    }
    .ratings {
      .rating1,
      .rating2,
      .rating3 {
        padding: 1rem 0;
        text-align: center;
        background-color: $LightGrayishMagenta;
        h4 {
          margin: 0;
          font-size: 1.1rem;
        }
        img {
          padding: 0 0.2rem;
          margin-bottom: 0.7rem;
        }
      }
      .rating2 {
        margin: 1rem 0;
      }
    }
    .reviews {
      margin-top: 3rem;
      .review1,
      .review2,
      .review3 {
        padding: 2.5rem 2rem;
        background-color: $VeryDarkMagenta;
        display: grid;
        grid-template: 2.6rem 1fr / 2.6rem 1fr;
        gap: 1.5rem;
        .text {
          grid-area: 2 / 1 / 3 / 3;
          q {
            line-height: 1.3rem;
            font-size: 1.04rem;
          }
        }
        .name {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        h4,
        p {
          font-size: 1.05rem;
          margin: 0;
        }
        img {
          width: 2.6rem;
          border-radius: 50%;
        }
        p {
          color: $SoftPink;
        }
      }
      .review2 {
        margin: 1rem 0;
      }
    }
  }
}
h2,
.ratings h4 {
  color: $VeryDarkMagenta;
}
.ratings div,
.reviews div {
  border-radius: 0.6rem;
}
.reviews q,
.reviews h4 {
  color: white;
}
@media screen and (min-width: 1440px) {
  body {
    background: url("/images/bg-pattern-top-desktop.svg") left top no-repeat,
      url("/images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
    .main {
      margin: 7rem 10rem;
      .info {
        width: 50%;
        float: left;
        margin-bottom: 4.8rem;
        h2,
        p {
          text-align: left;
          margin: 0 9rem 0 0;
        }
        h2 {
          font-size: 3.5rem;
        }
        p {
          margin-top: 1.5rem;
        }
      }
      .ratings {
        width: 50%;
        float: left;
        .rating1,
        .rating2,
        .rating3 {
          width: 28rem;
          display: flex;
          float: right;
          .stars {
            margin: 0 2.1rem;
            display: flex;
            height: 1rem;
            align-items: flex-start;
            justify-content: center;
            img {
              height: 100%;
            }
          }
          h4 {
            margin-top: 0.15rem;
          }
        }
        .rating1 {
          margin-right: 7rem;
        }
        .rating2 {
          margin-right: 3.5rem;
        }
      }
      .reviews {
        clear: both;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        .review1,
        .review2,
        .review3 {
          .text {
            q {
              font-size: 1rem;
            }
          }
        }
        .review2 {
          margin: 0;
          transform: translateY(1rem);
        }
        .review3 {
          transform: translateY(2rem);
        }
      }
    }
  }
}
